<header class="w3-cell-row general">
    <div class="w3-cell w3-cell-middle">
        <span class="w3-padding"><img [src]="logoPath" width="100px" /></span>
        <span class="w3-padding"><a routerLink="/home" routerLinkActive="gras">Home</a></span>
        <span class="w3-padding"><a routerLink="/about" routerLinkActive="gras">About</a></span>
        <span class="w3-padding"><a routerLink="/languages" routerLinkActive="gras">Languages</a></span>
        <span class="w3-padding"><a routerLink="/regions" routerLinkActive="gras">Regions</a></span>
        <span class="w3-padding"><a routerLink="/currency" routerLinkActive="gras">Currencies</a></span>

    </div>
</header>
